 <!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">
</head>
<body>
    <p>Let's keep in touch!</p>
        <div id="contact-form">
            <form method="post" action="/signup">
                <label for="email">Email address:</label>
                <input type="email" id="email" name="email" required="required">
                <input type="submit" value="Submit" id="submit-button">
            </form>
        </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>